<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734019588353-i0kodn00lla80nb7tbmtjv64etdv0gq7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734019588353-i0kodn00lla80nb7tbmtjv64etdv0gq7</string>
	<key>API_KEY</key>
	<string>AIzaSyAjtwGBsl6oSWnUU7XryZ2wV9kF7b3aKms</string>
	<key>GCM_SENDER_ID</key>
	<string>734019588353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.edgeapp.edgeApp</string>
	<key>PROJECT_ID</key>
	<string>edge-shop-13320</string>
	<key>STORAGE_BUCKET</key>
	<string>edge-shop-13320.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734019588353:ios:52943ae51f381675f6cb00</string>
</dict>
</plist>